<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p style="font-size: 16px; color: #333;">Hello <%= @resource.full_name %>!</p>

    <p>We're contacting you to notify you that your password for <%= @resource.email %> has been changed.</p>

    <p>If you initiated this change, you can disregard this message. If you didn't request this change, please contact our support team immediately.</p>

    <p style="font-size: 14px; color: #666;">If you have any concerns or need assistance, please don't hesitate to <a href="<%= contact_us_url %>" style="color: #007BFF; text-decoration: underline;">contact us</a>.</p>

    <p style="font-size: 14px; color: #666;">Thank you for using our service!</p>
  </body>
</html>
